<!DOCTYPE html>
<html lang="en">
<head>
    <title>开课信息</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/fcicon.css">

</head>
<body>
<div style="width: 500px;height: 500px">
    <canvas id="myChart"></canvas>
</div>
<script src="/static/js/chart.umd.js" type="module"></script>
<script type="module">
    var ctx = document.getElementById("myChart");
    var data = {
        datasets: [
            {
                data: [10, 20, 30]
            }
        ],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: ["Red", "Yellow", "Blue"]
    };
    var myDoughnutChart = new Chart(ctx, {
        type: "doughnut",
        data: data,

    });

</script>
</body>
</html>