<!DOCTYPE html>
<html lang="en">
<head>
    <title>Button Example</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <meta charset="UTF-8">

</head>
<body class="index" style="overflow-y: hidden">

{% if error_msg %}
    <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert" style="width: 500px; margin: auto">
        <strong>{{ error_msg }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<form style="width: 500px; margin: 100px auto" method="post" action="/">

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input required type="text" class="form-control" id="username" name="username">

    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input required type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">登录</button>
    <a href="/register" class="btn btn-primary" target="_self">注册</a>
</form>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>
</html>
