<!DOCTYPE html>
<html lang="en">
<head>
    <title>专业变更信息</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/fcicon.css">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bootstrap.esm.min.js' ) }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bootstrap.min.js' ) }}"></script>
    <script src="/static/js/jquery-3.7.0.min.js"></script>
    <style>
        .nav-pills .nav-link {
            margin-bottom: 5px; /* 元素之间的水平间距 */
        }

        .nav-pills .nav-link.active {
            background-color: #007bff;
        }

        .nav-pills .nav-link:not(.active):hover {
            background-color: #6d7277;
            color: #ffffff; /* 更改字体颜色为黑色 */
        }

        .row {
            display: flex;
            justify-content: center;
        }

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: inherit;
            height: 100%;
        }

    </style>
</head>
<body>
<div class="row">
    <div class="" style="width: 15%">
        <nav class="navbar d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
            <ul class="nav nav-pills flex-column  mb-auto">
                <div class="align-items-center  d-flex flex-column ">
                    <i class="fc-icon-ustc fc-icon-zhongda"></i>
                    <span class="fs-4">学生管理系统</span>
                </div>
                <hr>
                <li class="nav-item">
                    <a href="/table" class="nav-link " aria-current="page">
                        学生信息
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/major" class="nav-link " aria-current="page">
                        专业信息
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link  active" aria-current="page">
                        专业变更信息
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/coursemanage" class="nav-link" aria-current="page">
                        开课信息
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/coursegrades" class="nav-link " aria-current="page">
                        选课与成绩信息
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/awards" class="nav-link" aria-current="page">
                        学生奖惩信息
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="" style="width: 85%">
        <div class="container ">
            <div class=" container mt-3" style="width: 100%">
                <form class="d-flex justify-content-center" action="#" method="post" id="sortForm">
                    <div class="input-group" style="width: fit-content;margin-left: 5px">
                        <span class="input-group-text">记录ID</span>
                        <input type="text" class="form-control" id="major_record_id" name="major_record_id">
                    </div>
                    <div class="input-group" style="width: fit-content;margin-left: 5px">
                        <span class="input-group-text">学号</span>
                        <input type="text" class="form-control" id="student_id" name="student_id">
                    </div>
                    <div class="input-group" style="width: fit-content;margin-left: 5px">
                        <span class="input-group-text">姓名</span>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div style="width: fit-content;margin-left: 5px">
                        <select name="sortItem" id="sortItem" class="form-select"
                                aria-label="Default select example">
                            <option selected value="default">默认排序</option>
                            {% for column in header %}
                                <option value="{{ column }}">{{ headername[column] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="width: fit-content;margin-left: 5px">
                        <select name="sortDirect" id="sortDirect" class="form-select">
                            <option value="ASC">正序</option>
                            <option value="DESC">逆序</option>
                        </select>
                    </div>
                    <div class="" style="margin-left: 5px;">
                        <button type="submit" class="btn btn-primary">查询</button>
                    </div>
                </form>

            </div>
            {#数据表：body分离#}
            <div class="container mt-3" style="width: 85%" id="table-container">

                {{ sheet_html|safe }}

            </div>
        </div>
    </div>
</div>
<script>
    // 获取表单和表格容器
    const form = document.querySelector('#sortForm');
    const tableContainer = document.querySelector('#table-container');

    // 监听表单提交事件
    form.addEventListener('submit', e => {
        e.preventDefault();

        // 获取表单数据
        const formData = new FormData(form);

        // 发送 AJAX 请求或 Fetch 请求
        fetch('/get-table-data', {
            method: 'POST',
            body: formData
        })
            .then(response => response.text())
            .then(data => {
                // 将返回的数据插入表格容器中
                tableContainer.innerHTML = data;
            })
            .catch(error => console.error(error));
    });

</script>
</body>
</html>