<table class="table table-striped table-bordered table-hover"
       style="width: 95%; table-layout: auto; margin: auto auto; " id="table">
    <thead>
    <tr>
        {% for column in header %}
            <th data-sort-order="asc"> {{ headername[column] }}</th>
        {% endfor %}
        {% if editable or deletable %}
            <th>操作</th>
        {% endif %}
    </tr>
    </thead>
    <tbody id="tableBody">
    {% for row in data %}
        <tr>
            {% for column in row %}
                <td style="vertical-align: middle">{{ column }}</td>
            {% endfor %}
            {% if editable or deletable %}
                <td>
                    {% if editable %}
                        {% if root %}
                            <button type="button" id="{{ row[0] }}Edit" class="btn btn-outline-primary "
                                    data-bs-toggle="modal"
                                    onclick="get_info(this)"
                                    data-bs-target="#editModal" style="width: fit-content; ">
                                编辑
                            </button>
                        {% else %}
                            <button type="button" id="{{ row[0] }}Add" class="btn btn-outline-primary "
                                    data-bs-toggle="modal"
                                    onclick="add_one(this)"
                                    data-bs-target="#addModal" style="width: fit-content; ">
                                选课
                            </button>
                        {% endif %}
                    {% endif %}
                    {% if deletable %}

                        <button type="button" id="{{ row[0] }}Delete" class="btn btn-outline-danger"
                                data-bs-toggle="modal"
                                onclick="delete_one(this)"
                                data-bs-target="#deleteModal" style="width: fit-content; ">
                            {% if root %}
                                删除
                            {% else %}
                                退课
                            {% endif %}
                        </button>

                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>