<!DOCTYPE html>
<html>
<head>
    <title>MySQL Table</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <style>
        .row {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
{#过滤器组件：form#}
<div class="container mt-3">
    <form action="/table/sort" method="post" id="sort" style="margin:0 auto">
        <div class="row">
            <div class="col-md-2">
                <select name="sortby" id="sortby" class="form-select" aria-label="Default select example">
                    <option selected value="default">默认排序</option>
                    {% for column in header %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <select name="direct" id="direct" class="form-select">
                    <option value="ASC">正序</option>
                    <option value="DESC">逆序</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">查询</button>
            </div>
        </div>
    </form>
</div>

{#弃用代码：#}
<script>
    var selectEl = document.getElementById('sortby');
    // 设置选项选中状态发生变化时的事件处理器
    selectEl.addEventListener('change', function () {
        // 将所选的选项值存储在localStorage中
        localStorage.setItem('sortItem', this.value);
    });

    // 页面加载时设置下拉菜单的选中状态
    window.addEventListener('load', function () {
        var selectedItem = localStorage.getItem('sortItem');
        if (selectedItem) {
            // 假设localStorage中存储的是有效的选项值
            selectEl.value = selectedItem;
        }
    });
</script>
{#弃用代码^#}
<script>
    // JavaScript代码
    document.getElementById('sort').addEventListener('submit', function (event) {
        // 阻止表单默认的提交行为
        event.preventDefault();

        // 获取表单数据
        var sortbyValue = document.getElementById('sortby').value;
        var directValue = document.getElementById('direct').value;
        // 使用Fetch API向服务器发送数据
        // 假设服务器端有一个接受参数的路由: /get-table-data?search=...
        fetch(`/get-table-data?sortby=${encodeURIComponent(sortbyValue)}&direct=${encodeURIComponent(directValue)}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => response.json())  // 将响应内容解析为JSON格式
            .then(data => {
                // 解析新数据，并将其插入到表格中
                var table = document.getElementById('tableBody');
                table.innerHTML = '';  // 清空表格中的所有行

                data.forEach(rowData => {
                    var row = table.insertRow();
                    rowData.forEach(cellData => {
                        var cell = row.insertCell();
                        cell.textContent = cellData;
                    });
                });
            })
            .catch(error => {
                console.error('请求新数据时出错：', error);
            });
    });

</script>

{#数据表：body分离#}
<div class="container mt-3">
    <table class="table table-striped table-bordered" style="width: 600px; margin: auto auto" id="table">
        <thead>
        <tr>
            {% for column in header %}
                <th data-sort-order="asc"> {{ column.strip() }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody id="tableBody">
        {% for row in data %}
            <tr>
                {% for column in row %}
                    <td>{{ column }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
